body {
	font-family: monospace;
	font-size: 12pt;
	padding-left: 10%;
	width: 800px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: brown; 
}

li {
	margin-bottom: 10px;
}
